{{#if shouldDisplay}}
  <div class="custom-container wrap">
    <div class="custom-search-banner-wrap">
      <div class="text-wrapper">
        <h1>{{theme-i18n "search_banner.headline"}}</h1>
        <p>{{theme-i18n "search_banner.subhead"}}</p>
      </div>
      <div class="search-container">
        {{mount-widget widget="search-widget"}}
        <span>OR</span>
        {{!-- <button class="question-btn">
          <span class="btn-text">Ask a Question</span>
        </button> --}}
        {{#if hideLoggedIn}}
    {{d-button
    class=btnClass
    id="create-topic-button-1"
    action=(route-action "createTopic")
    icon="plus"
    disabled=disabled
    label=label}}
{{else}}
 {{d-button
    class=btnClass
    id="create-topic-button-2"
    action=(route-action "showLogin")
    icon="plus"
    disabled=disabled
    label=label}}
{{/if}}
      </div>
      <a class="clickable-image-wrapper" href="{{theme-i18n "search_banner.clickable_image_link"}}">
        <div class="clickable-image"> </div>
      </a>
    </div>
  </div>
{{/if}}
